*{
    margin: 0;
    padding: 0;
}
.text-center{
    display: flex;
    justify-content: center;
    
}
.text-center h4{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.text-center img{
    height: 18vh;
    width: 18vh;
}
.text-center{
    height: 18vh;

}
.nav2{
    background-color: pink;
    background-image: linear-gradient(to right, rgba(168, 18, 148, 0.911) 20%,rgb(235, 109, 92) 100%, rgb(245, 220, 217)20%);
    height: 10vh;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    background-color: white;
}

/* styling contacts section */
*{
  box-sizing: border-box;
}
input[type=text],textarea{
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 100%;
}
input[type=email]{
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 100%;
}
input[type=phone]{
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 100%;
}
input[type=submit]{
  padding: 12px 20px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: green;
  margin-bottom: 20px;
}
input[type=submit]:hover{
  background-color: red;
}

.container{
  margin-bottom: 70px;
  margin-top: 70px;
}






























/* footer */

.footer{
  background: #121213;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}