*{
    margin: 0;
    padding: 0;
}
.text-center{
    display: flex;
    justify-content: center;
    
}
.text-center h4{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.text-center img{
    height: 18vh;
    width: 18vh;
}
.text-center{
    height: 18vh;

}
.nav2{
    background-color: pink;
    background-image: linear-gradient(to right, rgba(168, 18, 148, 0.911) 20%,rgb(235, 109, 92) 100%, rgb(245, 220, 217)20%);
    height: auto;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    background-color: white;
}
.logos{
   height: 20vh;
   background-color: #f8f8f8;
   display: flex;
   padding-left: 15rem;
  align-items: center;
}
.logo1 img{
  width: 60px;
}
.line1{
  width: 40%;
}
.line2{
  width: 43%;
  
}
.article{
  display: block;
  background-color: #ffb6fa;

}
h4{
  font-family: 'Permanent Marker', cursive;
}
.btn{
  display: block;
}
.text{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.carousel-item img{
  height: 70%;
}

.beauty p{
  text-align: center;
}
.change-pink{
  background-color: #ffb6fa;
}
.card-text{
  border: 1px solid black;
  position: relative;
  left: -12%;
  top: 15.7px;
  width: 17.9rem;
  height: 40px;
  background-color: #000000;
  color: white;
  border-radius: 30px 0 0 0 ;
  /* display: none; */
  
}
.beauty{
  display: block;
  padding: 15px;
}
.card{
  display: block;
  margin: 0 auto;
  
  
}
.card-main{
  display: flex;
  background-color: #ffb6fa;
  padding: 5px;
  height: auto;
  padding-top: 20px;
}

.main{
  background-color: #ffb6fa;
  padding: 5px;
  height: 580px;
  padding-top: 20px;
}
.mainimage img{
  width: 35rem;
}
.skincare1 img{
  height: 9rem;
  width: 7rem;
  
}
.skincare2 img{
  height: 10rem;
  width: 7rem;
}

.haircare{
  float: right;
  position: relative;
  left: -20rem;
}
.book{
  position: relative;
  left: -20rem;
  bottom: -10rem;
  /* font-size: 30px; */
  
}
#book{
  width: 20rem;
  height: 5rem;
  border-radius: 20px 20px 0 20px;
  background-color: black;
  color: white;
  font-size: 30px;
}
#book a:hover{
  color: #ffb6fa;
}
.card-body{
  position: relative;
  left: -6%;
}


.card-img-top{
  transition: 1s;
}
.card-img-top:hover{
  height: 300px;
  width: 300px;
}



.button {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
.button {
  animation: glowing 1300ms infinite;
}




/* html, body {margin: 0px; padding: 0px; width: 100%; height: 100%;}
.wrapper {
  margin: 0 auto;
  width: 100%;
} */
.carousel-item img {width: 100%; height: 80vh;}
.carousel-item video {width: 100%; height: 200px;}



/* footer */



.footer{
  background: #121213;
  color:white;
}
  .links ul{
    list-style-type: none ;
  }  
  .links li a{
    color: white;
    transition: color .2s;
  }
  .links li a:hover{
    text-decoration:none;
        color:#4180CB;
  }
  